{% extends "@MainApp/base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>Création de liste</h3>
            {{ form(form) }}
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}