<!DOCTYPE html>
<html>
    <head>
    {% block header %}
        {% embed "@MainApp/Default/header.html.twig" %}
        {% endembed %}
    {% endblock %}
    </head>
    <body>
        {% block navbar %}
            {% embed "@MainApp/Default/navbar.html.twig" %}
            {% endembed %}
        {% endblock %}
        {% block body %}

        {% endblock %}
        {% block footer %}
            {% embed "@MainApp/Default/footer.html.twig" %}
            {% endembed %}
        {% endblock %}
    </body>
</html>
