{% extends "@MainApp/base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-1"> </div>
        <div class="col-md-10">
            <table class="table table-bordered">
                <tr>
                    <th colspan="2" class="text-center">
                        Imperium
                    </th>
                    <th colspan="2" class="text-center">
                        Xenos
                    </th>
                    <th colspan="1" class="text-center">
                        Chaos
                    </th>
                </tr>
                <tr>
                    <td class="text-center">
                        Astra Militorium ( GI )
                    </td>
                    <td class="text-center">
                        Space Marine
                    </td>
                    <td class="text-center">
                        Orc
                    </td>
                    <td class="text-center">
                        <a href="faction/tau">Tau</a>
                    </td>
                    <td class="text-center">
                        Space Marine du Chaos
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        Space Wolf
                    </td>
                    <td class="text-center">
                        Blood Angels
                    </td>
                    <td class="text-center">
                        Tyranides
                    </td>
                    <td class="text-center">
                        Genestealer Cult
                    </td>
                    <td class="text-center">
                        Deamons
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-1"> </div>
    </div>
{% endblock %}