{% extends "@MainApp/base.html.twig" %}

{% block title %}Model{% endblock %}

{% block body %} Models load
    <table class="table table-bordered">
        <th>
            <td>
                Titre
            </td>
        </th>
        <tr>
            <td>
                test
            </td>
        </tr>
        <tr>
            <td>
                test 2
            </td>
        </tr>
        <tr>
            <td>
                test 3
            </td>
        </tr>
    </table>
{% endblock %}